@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This site was made to demonstrate the power of Angular.js, MVC and Azure. These three components make this site run smoothly and function properly.
    
    </p>
